
body {
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgb(64, 224, 208, 0.6) 20%,rgb(64, 224, 208, 0.9) 20%,rgb(64, 224, 208, 0.9) 80%,rgb(64, 224, 208,0.6) 80%);
    background-position: center;
    background-attachment: fixed;
}
h1 {
    margin: 0;
}
hr {
    border-color: black;
    border-width: 2px;
    margin-top: 20px;
}
.stages {
    display: none;
}
@keyframes hideLastStage {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.before-loading-stage {
    opacity: 0;
    animation-name: hideLastStage;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
#loading-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rockicon papericon scissoricon"
                         "textarea textarea textarea";
    column-gap: 35px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    width: 50vw;
}
@keyframes loading-anim{
    0%, 50% {
        opacity: 0;
    }
    80%, 90% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }

}
.anim-loading-icons {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    padding: 15px;
    height: max-content;

}
.anim-loading-icons img {
    padding: 10px;
    width: 100%;
    height: auto;
}
#anim-rock {
    grid-area: rockicon;
    animation-name: loading-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#anim-paper {
    grid-area: papericon;
    animation-name: loading-anim;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#anim-scissor {
    grid-area: scissoricon;
    animation-name: loading-anim;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#anim-text {
    grid-area: textarea;
    font-size: 2em;
    text-align: center;
}

.stages-container {
    margin: 100px auto 10px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 25px 50px;
    width: 80vw;
}
.footer-credits {
    margin: auto;
    background-color: transparent;
    text-align: center;
    opacity: 0.7;
    font-weight: bold;
    color: black;
    width: 80vw;
}
.footer-credits p{
    margin: 0;
    padding: 0;
}
.game-headers {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rockicon papericon scissoricon"
                         "textarea textarea textarea";
    opacity: 0.7;
    width: 50%;
    column-gap: 10px;
}
.game-header-icons {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    margin: auto;
    height: max-content;
}
.game-header-icons img {
    padding: 10px;
    width: 100%;
    height: auto;
}
#game-header-rock {
    grid-area: rockicon;
    background-color: sienna;
}
#game-header-paper {
    grid-area: papericon;
    background-color: wheat;
}
#game-header-scissor {
    grid-area: scissoricon;
    background-color: silver;
}
#game-header-text {
    text-align: center;
    grid-area: textarea;
}
#game-description-text {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    border-style: solid;
}
#game-start-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
}
#game-start-options p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
}
.game-start-option-buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(64, 224, 208);
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
}
.game-start-option-buttons:hover {
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
#game-current-round-board {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(64, 224, 208);
    text-align: center;
    column-gap: 20px;
    justify-content: space-around;
    padding: 0 20px;
}
#game-current-round-board p {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}
#game-current-status-showcase {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    text-align: center;
    margin-top: 30px;
    column-gap: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}
.action-box {
    border-radius: 50%;
    border-color: rgba(0, 0, 0);
    border-width: 10px;
    border-style: solid;
    padding: 10px;
    margin: auto;
    opacity: 0.7;
    max-width: 200px;
}
.action-box img {
    height: auto;
    width: 100%;
}
@keyframes anim-result {
    from {
        background-color: transparent;
    }
}
.player-won {
    background-color: rgba(218, 165, 32, 0.5);
    animation-name: anim-result;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.player-lost {
    background-color: rgba(255, 0, 0, 0.5);
    animation-name: anim-result;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.players {
    padding-top: 25px;
    border-radius: 50px;
}
#players-divider {
    align-self: center;
    font-size: 3em;
}
#game-player-action-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    background-color: rgb(64, 224, 208);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.6);
    border-width: 4px;
    border-style: dashed;
}
@keyframes anim-fade {
    from { opacity: 0;}
    to {opacity: 0.6;}
}
#game-player-action-options input {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    animation-name: anim-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    width: 100%;
    max-width: 120px;
}
#game-player-action-options input:hover {
    border-color: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
}
#rock-action {
    background-color: rgba(160, 81, 45, 0.8);
    margin-left: auto;
}
#rock-action:hover {
    background-color: sienna;
}
#paper-action {
    background-color: rgba(245, 222, 179, 0.8);
    margin: auto;
}
#paper-action:hover {
    background-color: wheat;
}
#scissor-action {
    background-color: rgba(192, 192, 192, 0.8);
    margin-right: auto;
}
#scissor-action:hover {
    background-color: silver;
}
#game-player-instruction {
    text-align: center;
    opacity: .8;
    font-weight: bold;
    font-style: italic;
}
#game-statistic {
    background-color: rgb(64, 224, 208);
    padding: 20px;
    opacity: 0.7;
}
#game-statistics-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
#show-winner {
    padding: 10px;
    background-color: white;
}
@keyframes anim-jar{
    50% {
        transform: scale(1.1);
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
#tip-jar {
    text-align: center;
    margin-top: 50px;
}
#tip-jar img {
    animation-name: anim-jar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
#new-game-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(64, 224, 208);
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    width: 100%;
    margin-top: 10px;
}
#new-game-btn:hover {
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
#loading-next-round {
    text-align: center;
    grid-column: 1 / 4;
}
@media (max-width: 768px) {
    .stages-container {
        width: 80vw;
    }
    .game-headers {
        width: 80%;
    }
}
@media (max-width: 575px) {
    .game-headers {
        width: 100%;
    }
    .action-box {
        border-width: 5px;
    }
    hr {
        margin-top: 10px;
    }
    .stages-container {
        width: 90vw;
        margin-top: 20px;
        padding: 15px;
    }
    #game-start-options {
        grid-template-columns: 1fr;
    }
    #players-divider {
        font-size: 20px;
        padding: 10px;
    }
    #game-current-round-board p{
        font-size: 1.5em;
        padding: 5px;
    }
    #game-statistics-box {
        grid-template-columns: 1fr;
    }
    #loading-container {
        width: 90vw;
    }
    .anim-loading-icons {
        padding: 0;
    }
    #anim-text p {
        margin: 10px 0;
    }
}